
@font-face {
	font-family: arshia;
	font-style: normal;
	src: url("../fonts/arshia.otf");
	src: url("../fonts/arshia.eot") format("eot");
	src: url("../fonts/arshia.woff") format('woff');
	src: url("../fonts/arshia.ttf") format('truetype');
}
@font-face {
	font-family: yekan;
	font-style: normal;
	src: url("../fonts/yekan.eot") format("eot");
	src: url("../fonts/yekan.woff") format("woff");
	src: url("../fonts/yekan.ttf") format("truetype");
	src: url("../fonts/yekan.otf");
}

body{
	background: #fff;
	margin: 0px;
	cursor: default;
	direction: rtl;
	font-family: yekan;
}

.box{
	background-color: #fff;
	min-height: 100%;
	position: relative;
	padding: 50px 100px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	line-height: 30px;
}
.circle-link{
	position: absolute;
	width: 50px;
	text-decoration: none;
	display: block;
	height: 50px;
	left: 50%;
	top: 0px;
	background-color: black;
	-ms-transform: translate(-50%, -100%); /* IE 9 */
  -webkit-transform: translate(-50%, -100%); /* Chrome, Safari, Opera */
  transform: translate(-50%, -100%);
	border-radius: 50% 50% 0px 0px;
	background-size: contain;
	background-repeat: no-repeat;

}
.box > h3{
	text-align: center;
	font-size: 32px;
}
.box > p{
	font-size: 16px;
	text-align: justify;
}
.box table{
	color: white;
	display: inline-block;
	font: 12px yekan;
}
.box table thead td{
	border-bottom: 3px solid white;
}
.box input[type=text], .box input[type=mail], .box input[type=phone]{
	border: none;
	outline: none;
	padding: 3px;
	font: 12px yekan;
	width: 100%;
}
.box input[type=button],.box input[type=submit]{
	outline: none;
	padding: 3px 10px;
	font: 12px yekan;
	border: 2px solid #fff;
	background-color: rgba(255,255,255,0.3);
	cursor: pointer;
	color: white;
}

#header{
	background-color: #fff;
	height: 8%;
}

#header > #list{
	list-style: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#header > #list > li{
	display: inline-block;
	margin: 15px;
}

#header > #list > li > a{
	color: #4c83c3;
	text-decoration: none;
}

#header > #list > li > a:hover{
	color: #b13127;
}

#slider{
	background-color: #f5f5f5;
	height: 100%;
	min-height: 100%;
	vertical-align: middle;
	padding:0px;
	text-align: center
}

#slider > #container{
	padding-top: 180px;
	display: inline-block;
	height: 400px;
	width: 900px;
	text-align: center;
}

#slider #acm-logo{
	left: 50px;
	top: 100px;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}

#slider #laptop{
	position: relative;
	vertical-align: middle;
	display: inline-block;
	width: 410px;
	height: 342px;
	background-repeat: no-repeat;
	background-image: url(../images/slider/laptop.png);
}

#slider #laptop > #screen{
	position: absolute;
	top: 35px;
	left: 63px;
	display: block;
	width: 268px;
	height: 167px;
	background-image: url(../images/slider/screen.gif);
}

#main-menu{
	background-color: #db5656;
	text-align: center;
	height: 1815px;
	padding: 0px
}
#main-menu::before{
	background-color: #db5656;
	background-image: url(../images/icons/list.png);
}
#main-menu > #container{
	width: 800px;
	height: 100%;
	position: relative;
	display: inline-block;
	background-image: url(../images/line.png);
	background-position: center top;
	background-repeat: no-repeat;
}
#main-menu-link{
	position: fixed;
	display: block;
	width: 30px;
	height: 30px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	background-color: #db5656;
	transition: 0.3s;
}
#main-menu-link.hide{
	opacity: 0;
}
.item{
	position: absolute;
	width: 400px;
	height: 120px;
	font-size: 18px;
}
.item > p{
	color: rgba(255,255,255,0.6);
	text-decoration: none;
	margin: 0px;
	display: inline-block;
	width: 260px;
	vertical-align: middle;
	transition: 0.8s;
}
.item > p > b{
	color: #fff;
}

.item > a{
	vertical-align: middle;
	display: inline-block;
	transition: 0.5s;
}

.item > a > img{
	width: 120px;
	border-radius: 50%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.item.hide > a{
	opacity: 0;
	-ms-transform: translate(-100px, 0px) rotate(400deg); /* IE 9 */
	-webkit-transform: translate(-100px, 0px) rotate(400deg); /* Chrome, Safari, Opera */
	transform: translate(-100px, 0px) rotate(400deg);
}
.item.hide > p{
	opacity: 0;
	-ms-transform: translate(0px, -50px); /* IE 9 */
	-webkit-transform: translate(0px, -50px); /* Chrome, Safari, Opera */
	transform: translate(0px, -50px);
}

#rewards{
	background-color: #2894d2;
	height: 100%;
}
#rewards .circle-link{
	background-color: #2894d2;
	background-image: url(../images/icons/cup.png);
}

#register{
	background-color: #4fad50;
	height: 100%;
}
#register .circle-link{
	background-color: #4fad50;
	background-image: url(../images/icons/pencil.png);
}
#register form{
	text-align: center;
	padding: 10px;
	border: 3px solid #fff;
	border-radius: 20px;
}
#register tr > td:nth-child(odd){
	text-align: left;
}

#information{
	background-color: #e3c655;
	height: 100%;
}
#information > ul {
	color: black;
	width: 500px;
	text-align: justify;
	display: inline-block;
	vertical-align: middle;
}
#information .circle-link{
	background-color: #e3c655;
	background-image: url(../images/icons/info.png);
}#information #poster{
	margin-right: 100px;
	vertical-align: middle;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.4);

	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
	transform: rotate(-10deg);
}

#teams{
	background-color: #3e4e5c;
}
#teams .circle-link{
	background-color: #3e4e5c;
	background-image: url(../images/icons/flag.png);
}
#teams tbody tr td{
	font-size: 13px;
	border-top: 1px dashed white;
	line-height: 30px;
}
#time{
	background-color: #e3c655;
	text-align: center;
	height: 100%;
}
#time .circle-link{
	background-color: #e3c655;
	background-image: url(../images/icons/clock.png);
}

#place{
	background-color: #4fad50;
	height: 100%;
}
#place .circle-link{
	background-color: #4fad50;
	background-image: url(../images/icons/map.png);
}

#results{
	background-color: #2894d2;
	height: 100%;
}
#results .circle-link{
	background-color: #2894d2;
	background-image: url(../images/icons/rank.png);
}

#questions{
	background-color: #e3c655;
	height: 100%;
}
#questions .circle-link{
	background-color: #e3c655;
	background-image: url(../images/icons/list.png);
}

#copy-right{
	text-align: center;
	color: #888;
	background-color: #333;
}
